p {
  font-size:.825em;
  text-indent: 1em;
}

h1 {
  margin-top: 3em;
  margin-bottom: 1em;
  text-align: center;
  page-break-before:always;
}

h2 {
  margin-bottom: 1em;
  margin-top: 3em;
  text-align: left;
  page-break-before:always;
}

.noindent {
  text-indent: 0;
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace !important;
}

.stoppagebreak {
  page-break-inside:avoid;
}